body {
    background-color: #f8f9fa;
}

pre {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

#generated-sql {
  white-space: pre-wrap;
  word-break: break-word;
}

#result table {
  width: 100%;
}